/config/private/*.php
!/config/private/*.example.php
/storage/mail/*.log
/storage/sessions/*
!/storage/mail/.gitkeep
!/storage/sessions/.gitkeep
/uploads/properties/*
!/uploads/properties/.gitkeep
/vendor/
/.env
/.env.*
!/.env.example
/.idea/
/.vscode/
*.tmp
*.temp
*.log
Thumbs.db
.DS_Store
